<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>F11</filter-name>
        <filter-class>F11</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>F11</filter-name>
        <url-pattern>/Welcomepage</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>F11</filter-name>
        <url-pattern>/QuestionViewer</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>F11</filter-name>
        <url-pattern>/Result</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>F11</filter-name>
        <url-pattern>/last</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>F11</filter-name>
        <url-pattern>/quest</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Loginn</servlet-name>
        <servlet-class>Loginn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Welcomepage</servlet-name>
        <servlet-class>Welcomepage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionViewer</servlet-name>
        <servlet-class>QuestionViewer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Result</servlet-name>
        <servlet-class>Result</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>last</servlet-name>
        <servlet-class>last</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>quest</servlet-name>
        <servlet-class>quest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Adminpage</servlet-name>
        <servlet-class>Adminpage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Examiner</servlet-name>
        <servlet-class>papersetter.Examiner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>papertester</servlet-name>
        <servlet-class>papersetter.papertester</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Loginn</servlet-name>
        <url-pattern>/Loginn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Welcomepage</servlet-name>
        <url-pattern>/Welcomepage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionViewer</servlet-name>
        <url-pattern>/QuestionViewer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Result</servlet-name>
        <url-pattern>/Result</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>last</servlet-name>
        <url-pattern>/last</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>quest</servlet-name>
        <url-pattern>/quest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Adminpage</servlet-name>
        <url-pattern>/Adminpage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Examiner</servlet-name>
        <url-pattern>/Examiner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>papertester</servlet-name>
        <url-pattern>/papertester</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
